<!-- <div *ngFor="let user of users">
<div>{{user.firstName}}</div>
</div>  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">User Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <!-- <a class="nav-link"  (click)="onOpenModal(, 'add')" >Add Users> </a> -->

         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key" id="searchName"
            class="form-control mr-sm-2" placeholder="Search users..." required>
      </form>

   </div>
</nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let user of users" class="col-md-6 col-xl-3">

         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""
                        class="img-fluid rounded-circle w-60"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{user?.firstName}}</h5>
                  <h5>{{user?.lastName}}</h5>
                  <p class="m-0">{{user?.designation}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <a href="#">{{user?.emailId}}</a>
               </li>
               <li class="list-group-item"><i class="fa fa-phone float-right"></i> {{user?.contactNo}}</li>
               <li class="list-group-item">Address : {{user?.address}}</li>
               <li class="list-group-item">DOB :{{user?.dob}}</li>
               <li class="list-group-item">Joining Date :{{user?.joinDate}}</li>
               <li class="list-group-item">Pincode :{{user?.pincode}}</li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">

                  <a (click)="onOpenModal(user, 'add')" class="btn btn-secondary tooltips" data-placement="top"
                     data-original-title="Add"><i class="fa fa-plus"></i> </a>
                  <a (click)="onOpenModal(user, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                     data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
               <!-- <ul class="social-links list-inline mb-0">
                       
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul> -->
            </div>
         </div>
      </div>

      <!-- Add User Modal -->
      <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">

                     <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" ngModel name="firstName" class="form-control" id="firstName"
                           placeholder="firstName" required>
                     </div>
                     <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ngModel name="lastName" class="form-control" id="lastName"
                           placeholder="lastName" required>
                     </div>
                     <div class="form-group">
                        <label for="emailId">Email Address</label>
                        <input type="email" ngModel name="emailId" class="form-control" id="emailId" placeholder="Email"
                           required>
                     </div>
                     <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" ngModel name="designation" class="form-control" id="designation"
                           placeholder="Designation" required>
                     </div>
                     <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" ngModel name="address" class="form-control" id="address"
                           placeholder="Address" required>
                     </div>
                     <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="text" ngModel name="dob" class="form-control" id="dob" placeholder="Date of Birth"
                           required>
                     </div>
                     <div class="form-group">
                        <label for="joinDate">Joining Date</label>
                        <input type="text" ngModel name="joinDate" class="form-control" id="joinDate"
                           placeholder="Joining Date" required>
                     </div>
                     <div class="form-group">
                        <label for="contactNo">Contact No</label>
                        <input type="text" ngModel name="contactNo" class="form-control" id="contactNo"
                           placeholder="contactNo" required>
                     </div>
                     <div class="form-group">
                        <label for="pincode">Pincode</label>
                        <input type="text" ngModel name="pincode" class="form-control" id="pincode"
                           placeholder="Pincode" required>
                     </div>

                     <div class="modal-footer">
                        <button type="button" id="user-form" class="btn btn-secondary"
                           data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

      <!-- Edit Modal -->
      <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="updateUserModalLabel">Edit User {{editUser?.firstName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form #editForm="ngForm">

                     <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" ngModel="{{editUser?.firstName}}" name="firstName" class="form-control"
                           id="firstName" aria-describedby="emailHelp" placeholder="First Name">
                     </div>

                     <div class="form-group">
                        <label for="name">Last Name</label>
                        <input type="text" ngModel="{{editUser?.lastName}}" name="lastName" class="form-control"
                           id="lastName" aria-describedby="emailHelp" placeholder="lastName">
                     </div>

                     <input type="hidden" ngModel="{{editUser?.userId}}" name="userId" class="form-control" id="userId"
                        placeholder="Email">

                     <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" ngModel="{{editUser?.emailId}}" name="emailId" class="form-control"
                           id="emailId" placeholder="Email">
                     </div>
                     <div class="form-group">
                        <label for="phone">Job title</label>
                        <input type="text" ngModel="{{editUser?.designation}}" name="designation" class="form-control"
                           id="designation" placeholder="Job title">
                     </div>
                     <div class="form-group">
                        <label for="phone">Address</label>
                        <input type="text" ngModel="{{editUser?.address}}" name="address" class="form-control"
                           id="address" placeholder="address">
                     </div>
                     <div class="form-group">
                        <label for="phone">DOB</label>
                        <input type="text" ngModel="{{editUser?.dob}}" name="dob" class="form-control" id="dob"
                           placeholder="dob">
                     </div>
                     <div class="form-group">
                        <label for="phone">joinDate</label>
                        <input type="text" ngModel="{{editUser?.joinDate}}" name="joinDate" class="form-control"
                           id="joinDate" placeholder="joinDate">
                     </div>
                     <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" ngModel="{{editUser?.contactNo}}" name="contactNo" class="form-control"
                           id="contactNo" placeholder="Phone">
                     </div>
                     <div class="form-group">
                        <label for="phone">pincode</label>
                        <input type="text" ngModel="{{editUser?.pincode}}" name="pincode" class="form-control"
                           id="pincode" placeholder="address">
                     </div>
                     <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                           changes</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p>Are you sure you want to delete User {{deleteUser?.firstName}}?</p>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                     <button (click)="onDeleteUser(deleteUser.userId)" class="btn btn-danger"
                        data-dismiss="modal">Yes</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Notification for no Users -->
   <div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
         <h4 class="alert-heading">NO UserS!</h4>
         <p>No Users were found.</p>
      </div>
   </div>